<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr><td>Name</td><td><input type="text" class="form-control"></td></tr>
                    <tr><td>Email</td><td><input type="email" class="form-control"></td></tr>
                    <tr><td>Password</td><td><input type="password" class="form-control"></td></tr>
                    <tr><td>Confirm Password</td><td><input type="password" class="form-control"></td></tr>
                    <tr><td></td><td><button type="submit" class="btn btn-info">Sign Up</button></td></tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>